/* purgecss start ignore */
@tailwind  base;
@tailwind  components;

html {
  font-size: 14px;
}

body, html {
  overflow: hidden;
  overscroll-behavior-y: none;
}

/* purgecss end ignore */
@tailwind utilities;
